@model ProyectoSalonBelleza.Entidades.ProductoEnt

@{
    ViewBag.Title = "ActualizarProducto";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Asegúrate de que Layout esté establecido como null
}



<body>
    <div class="container">

        <h2>Actualizar Producto:</h2>

        @using (Html.BeginForm("ActualizarProducto", "Producto", FormMethod.Post, new { @class = "form-horizontal", id = "" }))
        {

            @Html.HiddenFor(m => m.ConProducto)

            <div class="form-group">
                <label>Nombre producto</label>
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control form-control-lg", @placeholder = "Nombre", @type = "text" })
            </div><br>

            <div class="form-group">
                <label>Descripcion del producto</label>
                @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control form-control-lg", @placeholder = "Descripcion", @type = "text" })
            </div><br>

            <div class="form-group">
                <label>Cantidad de productos</label>
                @Html.TextBoxFor(m => m.Cantidad, new { @class = "form-control form-control-lg", @placeholder = "Cantidad", @type = "number" })
            </div><br>

            <div class="form-group">
                <label>Precio</label>
                @Html.TextBoxFor(m => m.Precio, new { @class = "form-control form-control-lg", @placeholder = "Precio", @type = "decimal" })
            </div><br>

            <div class="form-group">
                <label>Imagen</label>
                @Html.TextBoxFor(m => m.Imagen, new { @class = "form-control form-control-lg", @placeholder = "Imagen", @type = "text" })
            </div><br>


            <button type="submit" class="btn btn-primary mr-2">Actualizar Producto</button><br><br>
            <a href="@Url.Action("ConsultarProducto","Producto")" class="btn btn-danger">Cancelar</a>
        }
    </div>
</body>

