@model IEnumerable<ProyectoSalonBelleza.Entidades.ProductoEnt>

@{
    ViewBag.Title = "ConsultarProducto";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h2>Consultar Producto</h2>

        <p>
            @Html.ActionLink("Registrar Nuevo Producto", "RegistrarProducto", null, new { @class = "btn btn-success" })
        </p>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.ConProducto)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Cantidad)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Precio)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Imagen)
                        </th>
                        <th class="text-center">
                            Editar
                        </th>
                        <th class="text-center">
                            Eliminar
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConProducto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio)
                            </td>
                            <td style="text-align:center">
                                <img style="width: 100px" src="@item.Imagen" alt="Imagen">
                            </td>
                            <td style="text-align:center">
                                <a href="@Url.Action("ActualizarProducto","Producto", new { q = item.ConProducto })"><i class="fa fa-user fa-lg" style="color: #13FF00;"></i></a>
                            </td>
                            <td style="text-align:center">
                                <a href="@Url.Action("ConfirmarBorrarProducto","Producto", new { q = item.ConProducto })"><i class="fa fa-user fa-lg" style="color: #13FF00;"></i></a>
                            </td>
                        </tr>
                     }
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>