@model ProyectoSalonBelleza.Entidades.CitaEntidad

@{
    ViewBag.Title = "ActualizarCita";
    Layout = null; // Asegúrate de que Layout esté establecido como null

}

@if (ViewBag.MensajeUsuario != null)
{
    <div class="alert alert-success" role="alert" style="text-align:center">
        @ViewBag.MensajeUsuario
    </div>
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h2>ActualizarCita</h2>

    @using (Html.BeginForm("ActualizarCita", "Citas", FormMethod.Post, new { @class = "form-horizontal", id = "citaForm" }))
    {

        @Html.HiddenFor(m => m.id_cita)

        <div class="form-group">
            <label>estilista</label>
            @Html.TextBoxFor(m => m.estilista, new { @class = "form-control form-control-lg", @placeholder = "estilista", @type = "text" })
        </div>
        <div class="form-group">
            <label>fecha</label>
            @Html.TextBoxFor(m => m.fecha, new { @class = "form-control form-control-lg", @placeholder = "fecha", @type = "datetime" })
        </div>
        <div class="form-group">
            <label>sede</label>
            @Html.TextBoxFor(m => m.sede, new { @class = "form-control form-control-lg", @placeholder = "sede", @type = "text" })
        </div>
        <div class="form-group">
            <label>nombre_cliente</label>
            @Html.TextBoxFor(m => m.nombre_cliente, new { @class = "form-control form-control-lg", @placeholder = "nombre_cliente", @type = "text" })
        </div>
        <div class="form-group">
            <label>servicio</label>
            @Html.TextBoxFor(m => m.servicio, new { @class = "form-control form-control-lg", @placeholder = "servicio", @type = "text" })
        </div>
        <div class="form-group">
            <label>descripcion_servicio</label>
            @Html.TextBoxFor(m => m.descripcion_servicio, new { @class = "form-control form-control-lg", @placeholder = "descripcion_servicio", @type = "text" })
        </div>

        <button type="submit" class="btn btn-primary mr-2">Actualizar Cita</button>

    } 
    <!-- AHORA FALTA AGREGAR EL ACTUALIZAR PRODUCTO (UNA VISTA)-->

</body>
</html>