@model ProyectoSalonBelleza.Entidades.CitaEntidad

@{
    ViewBag.Title = "ConfirmarBorrarCita";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Asegúrate de que Layout esté establecido como null
}


<body>
    <div class="container">
        <h2>Confirmar Borrar Cita</h2>

        @using (Html.BeginForm("BorrarUnaCita2", "Citas", FormMethod.Post, new { @class = "form-horizontal", id = "citaForm" }))
        {
            @Html.HiddenFor(m => m.id_cita)

            <div class="form-group">
                <label>Estilista</label>
                @Html.TextBoxFor(m => m.estilista, new { @class = "form-control", @placeholder = "Estilista", @type = "text", @readonly = "readonly" })
            </div><br>

            <div class="form-group">
                <label>Fecha</label>
                @Html.TextBoxFor(m => m.fecha, new { @class = "form-control", @placeholder = "Fecha", @type = "datetime", @readonly = "readonly" })
            </div><br>

            <div class="form-group">
                <label>Sede</label>
                @Html.TextBoxFor(m => m.sede, new { @class = "form-control", @placeholder = "Sede", @type = "text", @readonly = "readonly" })
            </div><br>

            <div class="form-group">
                <label>Nombre del Cliente</label>
                @Html.TextBoxFor(m => m.nombre_cliente, new { @class = "form-control", @placeholder = "Nombre del Cliente", @type = "text", @readonly = "readonly" })
            </div><br>

            <div class="form-group">
                <label>Servicio</label>
                @Html.TextBoxFor(m => m.servicio, new { @class = "form-control", @placeholder = "Servicio", @type = "text", @readonly = "readonly" })
            </div><br>

            <div class="form-group">
                <label>Descripción del Servicio</label>
                @Html.TextBoxFor(m => m.descripcion_servicio, new { @class = "form-control", @placeholder = "Descripción del Servicio", @type = "text", @readonly = "readonly" })
            </div><br>

            <button type="submit" class="btn btn-primary mr-2">Borrar Cita</button><br><br>
            <a href="@Url.Action("ConsultarCitas","Citas")" class="btn btn-danger">Cancelar</a>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

