@model ProyectoSalonBelleza.Entities.UserEnt

@{
    ViewBag.Title = "RegistrarCuenta";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/templates/Login/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link href="~/templates/Login/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Iniciar Sesión</h2>

                        @using (Html.BeginForm("RegistrarCuenta", "Login", FormMethod.Post, new { @class = "register-form", id = "register-form" }))
                        {
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                @Html.TextBoxFor(model => model.name, new { @id = "name", @placeholder = "Nombre Completo", @required = "required" })
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                @Html.TextBoxFor(model => model.email, new { @id = "email", @placeholder = "Correo Electrónico", @type = "email", @required = "required" })
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                @Html.PasswordFor(model => model.password, new { @id = "password", @placeholder = "Contraseña", @required = "required" })
                            </div>
                            @*<div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                @Html.Password("re_pass", null, new { @id = "re_pass", @placeholder = "Repetir contraseña" })
                            </div>
                            <div class="form-group">
                                @Html.CheckBox("agree-term", new { @id = "agree-term", @class = "agree-term" })
                                <label for="agree-term" class="label-agree-term">
                                    <span><span></span></span>
                                    Acepto todas las declaraciones en
                                    <a href="#" class="term-service">Términos de servicio</a>
                                </label>
                            </div>*@
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Registrar" />
                            </div>
                        }


                    </div>
                    <div class="signup-image">
                        <figure><img src="~/templates/Login/images/signup-image.jpg" alt="sing up image"></figure>
                        <a style="color: aqua"> @Html.ActionLink("Ya tengo una cuenta", "FormularioLogin", "Login", new { area = "" }, new { @class = "nav-link" })</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/templates/Login/vendor/jquery/jquery.min.js"></script>
    <script src="~/templates/Login/js/main.js"></script>
</body>
