@model ProyectoSalonBelleza.Entities.UserEnt

@{
    ViewBag.Title = "FormularioLogin";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/templates/Login/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link href="~/templates/Login/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/templates/Login/images/signin-image.jpg" alt="sing up image"></figure>
                        <a>@Html.ActionLink("Crear una cuenta", "FormularioRegistro", "Login", new { area = "" }, new { @class = "nav-link" })</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Iniciar Sesión</h2>
                        @using (Html.BeginForm("IniciarSesion", "Login", FormMethod.Post, new { @class = "register-form", id = "login-form" }))
                        {
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                @Html.TextBox("email", null, new { @id = "email", @placeholder = "Correo Electrónico" })
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                @Html.Password("password", null, new { @id = "password", @placeholder = "Contraseña" })
                            </div>
                            @*<div class="form-group">
                @Html.CheckBox("remember-me", new { @id = "remember-me", @class = "agree-term" })
                <label for="remember-me" class="label-agree-term"><span><span></span></span>Mantener sesión iniciada</label>
            </div>*@
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Iniciar Sesión" />
                            </div>
                        }

                        <a class="">@Html.ActionLink("Recuperar cuenta", "FormularioRecuperar", "Login", new { area = "" }, new { @class = "nav-link" })</a>

                        <div class="social-login">
                            <span class="social-label">Siguenos en</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="~/templates/Login/vendor/jquery/jquery.min.js"></script>
    <script src="~/templates/Login/js/main.js"></script>
</body>
